{% extends "blog/super.html" %}
{% load static %}
<!-- TEMPLATE PRINCIPAL -->

{% block super_title %} 
	<h2>Categorias - </h2><br><hr>
{% endblock super_title %}
	
{% block super_cont %}

	{% for categoria in categorias %}

					<div class="name_categoria"> 
						<h3 class="h_categoria">{{categoria.name}}</h3>

					</div>
					<div class ="img_categoria"> 
						<a href="#">
							{% if categoria.image %}
							<img src="{{ categoria.image.url }}" alt="{{categoria.name}}">
							{% else %}
							<img src="{% static 'images/none.png' %}" alt="{{categoria.name}}">
							{% endif %}
						</a>
					</div>
					<p class="description_categoria">{{categoria.description}}</p>
					<div class="text_categoria">
						<h4><a href="#" title="{{categoria.name}}"> Acesse a categoria! </a></h4><br>
						<hr class="hr_categoria">
					</div>
	{% endfor %}
{% endblock super_cont %}
