{% extends "blog\super.html"%}
{% block super_title %}
	<h1>Bem vindo!</h1>
{% endblock %}
{% block super_cont %}
						<!--
						<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
						
						{% block content%}
						{% endblock %} -->
						<p> KDJLASKDJLKDJKLADJKLDJSADJASLJLSJKDLKADJLASDJLASKJLDAJSLDKJAS
						ASDKASDKADJLKAJDLKAJSDLKJDLKADJLKASDJLKDJKLDSAJLDJLAKSDJLDKSDJLKASDJ<br>
						SDKDJLASDJLKDJLKSADJLKDJKLDJLKASDJLKSADJLKDSJLKDJLKDJLKASDJLKDJLSJDJDKJDK
						SADKDLKAJSDLKJASDLKJDLKASJDLKAJDSLAJDLKAJDLKASJDLKSDJAKDALSDKJDLKASDJLAKDJAS<br>
						
						</p>
{% endblock %}					
