<!DOCTYPE html>
{% load static %}
<html  lang="pt-br">
	<head>
		<meta charset="utf8"/>
		<title>Analist</title>
		
		<link rel="stylesheet" href="static/css/style.css"/>
		<link rel="stylesheet" href="static/css/css/bootstrap.css"/>
		
		<link rel="stylesheet" href="{% static 'css/style.css'%}"/>
		<link rel="stylesheet" href="{% static 'css/css/bootstrap.css'%}"/>
		
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700|Pacifico' rel='stylesheet' type='text/css'>
		
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
			  
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">A</a>
			</div>
			<div class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="{% url 'post_list' %}">Home</a></li>
				<li><a href="{% url 'contact'%}">Contato</a></li>
				<li><a href="{% url 'categorias:index' %}">Categorias</a></li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#">Login</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</div>
		<div class="wide">
			<div class="col-xs-5 line"><hr></div>
			<div class="col-xs-2 logo">Analist</div>
			<div class="col-xs-5 line"><hr></div>
		</div>
		<div class="container">
		  <div class="text-center">
			  {% block super_title%} {% endblock %}
		  </div>
		  <section class="postagem">
				<div class="row">
					<div class="col-md-12">
						<br>
							{% block super_cont %} {% endblock %}
						<br>
					</div>
				</div>
		</div>
		  </section>
		  </div><!-- /.container -->
		 <footer>
			<div class="rodape">
				<div class="row">
						<div class="redes">
							<a href="#" class="facebook">f</a>
							<a href="#" class="twitter">t</a>
							<a href="#" class="youtube">y</a>
						</div>
						<p class="copy">Copyright 2017</p>
				</div>
			</div>
		 </footer>
		
	</body>
</html>
